<h1> 
    <%= @user.id %> 's User'
</h1>

<ul>
<li> <p> <%= @user.email %> </p> </li>
<li> <p> <%= @user.first_name %> </p> </li>
<li> <p> <%= @user.last_name %> </p> </li>
<li> <p> <%= @user.created_at %> </p> </li>
<li> <p> <%= @user.updated_at %> </p> </li>
</ul>

<p> <%= link_to 'Back', users_path %> </p>