<div class="container mt-5" style="max-width: 800px;">
  <h1 class="mb-4 text-center">User <%= @user.id %></h1>

  <div class="mb-3 text-center">
    <% if can? :create, User %>
      <%= link_to 'Add new user', new_user_path, class: 'btn btn-primary' %>
    <% end %>

    <% if can? :edit, @user %>
      <%= link_to 'Edit user', edit_user_path(@user), class: 'btn btn-secondary ms-2' %>
    <% end %>

    <% if can? :read, User %>
      <%= link_to 'Back to users', users_path, class: 'btn btn-outline-secondary ms-2' %>
    <% end %>
  </div>

  <ul class="list-group mb-4">
    <li class="list-group-item"><strong>Email:</strong> <%= @user.email %></li>
    <li class="list-group-item"><strong>First Name:</strong> <%= @user.first_name %></li>
    <li class="list-group-item"><strong>Last Name:</strong> <%= @user.last_name %></li>
    <li class="list-group-item"><strong>Created At:</strong> <%= @user.created_at.strftime("%Y-%m-%d %H:%M") %></li>
    <li class="list-group-item"><strong>Updated At:</strong> <%= @user.updated_at.strftime("%Y-%m-%d %H:%M") %></li>
    <li class="list-group-item"><strong>Messages Sent:</strong> <%= @user.messages.count %></li>

    <% if current_user == @user %>
      <li class="list-group-item">
        <strong>Password:</strong> <%= @user.encrypted_password %> 
      </li>
    <% end %>
  </ul>

  <h3 class="mb-3">Chats Participated</h3>
  <ul class="list-group mb-4">
    <% (@user.sent_chats + @user.received_chats).uniq.each do |chat| %>
      <li class="list-group-item">
        Chat ID: <%= chat.id %> - 
        <%= link_to "View Chat", chat_path(chat), class: "btn btn-sm btn-outline-primary ms-2" %>
      </li>
    <% end %>
  </ul>
</div>
