<div class="container mt-5" style="max-width: 800px;">
  <h1 class="mb-4 text-center">Message <%= @message.id %></h1>

  <div class="mb-3 text-center">
    <%= link_to 'Add new message', new_message_path, class: 'btn btn-primary' %>
    <%= link_to 'Edit message', edit_message_path(@message), class: 'btn btn-secondary ms-2' %>
    <%= link_to 'Back to messages', messages_path, class: 'btn btn-outline-secondary ms-2' %>
  </div>

  <ul class="list-group mb-4">
    <li class="list-group-item"><strong>User:</strong> <%= @message.user&.first_name || 'Unknown' %></li>
    <li class="list-group-item"><strong>Chat ID:</strong> <%= link_to @message.chat_id, chat_path(@message.chat), class: 'text-decoration-none' %></li>
    <li class="list-group-item"><strong>Body:</strong> <%= @message.body %></li>
    <li class="list-group-item"><strong>Created At:</strong> <%= @message.created_at.strftime("%Y-%m-%d %H:%M") %></li>
    <li class="list-group-item"><strong>Updated At:</strong> <%= @message.updated_at.strftime("%Y-%m-%d %H:%M") %></li>
  </ul>
</div>
